@font-face {
    font-family: gothamrounded;
    src: url('../fonts/gothamrnd-light.ttf');
}
@font-face {
    font-family: gothamroundedregular;
    src: url('../fonts/gothamrnd-medium.ttf');
}
@font-face {
    font-family: proximaregular;
    src: url('../fonts/MarkSimonson-ProximaNovaRegular.otf');
}
@font-face {
    font-family: proximalight;
    src: url('../fonts/Mark Simonson - Proxima Nova Light.otf');
}
.carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
    }
    .left{
      background: none !important;
    }
    .right{
      background: none !important;
    }
    .btn{
      border:none;
      color: #FF6666;
      font-size: 20px;
      font-style: bold;
      background: none;
      padding-top: 2%;
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 2%;
    }
    .headerImage{
      min-height: 500px;
      width: 100%;
    }
    .nav{
      margin-top: -2%;
    }
    }
    #navbar{
      background: none;
      color: white;
      border: none;
      padding:1%;
    }
    #navbar2{
      background-color: white ;
      box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
      padding-bottom: 0.5%;
      height: 97px;
    }
   #navbar3{
      background-color: white ;
      box-shadow: 0px 2px 5px #888888;
      padding-bottom: 2.0%; 
    }
    #navbar4{
      background-color: white ;
      box-shadow: 0px 2px 5px #888888;
      padding-bottom: -1.5% !important;  
    }
    .img-header{
      width: 200px;
      height: 50px;
    }
   .img-header1{
      width: 16%;
      height: 140%;
      margin-top: 2%;
      margin-left: 2%
    }
    .img-header2{
      width: 13%;
      height: 180%;
      margin-top: -4%;
      margin-left: 8%
    }
    .img1{
      background: url(img/image1.jpg);
      background-size: 100% 100%;
      min-height: 500px;
      width: 100%;
    }
    .navbar-brand{
      padding-top: 0px;
    }
    .carousel-inner{
      min-height: 500px;
    }
    #logo{
      min-height: 210%;
      padding-left: 20%;
      padding-top: 10%;
    }
    #logo3{
      width: 12%;
      margin-left: 5%;
      margin-top: 2%;
    }
    #mynavbar{
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .navbar-toggle{
      background-color: #93aec9;
    }
    .icon-bar{
      background-color: #ffb8b8;
    }
    /* fahad /////////////////////////////////////////////////////////*/
    .pagerow{
      font-family: proximalight;
    }
    #imageid{
      margin-left: 50%;
      margin-top: 50%;
    }
    #manicon{
    	margin-left: 10%;
    	margin-top: -12%;
    }
    .dropdown {
    	display: inline-block;
    	float: right;
    	position: relative;
	}
	.dropdown-content {
		border-radius: 15px;
		 right: 0;
    	display: none;
    	padding: 0px 5px;
    	clear: both;
    	position: absolute;
    	background-color: #f9f9f9;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	    white-space: nowrap;
	    list-style-type: none;
	}
    .dropdown-content a {
    float: none;
    color: black;
    font-family: gothamrounded;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-bottom: 4%;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
#drophr{
	margin-top: 2%;
	margin-bottom: 6%;
	color: black;
    background-color: black;
    border-color: black;
}
.show {
    display: block;
}
	.dropdown:hover .dropdown-content {
    	display: block;
	}
    .fahad{
      width: 40%;
    }
    div.stars {
      /*width: 270px; */
      display: inline-block;
      padding-left: 48%;
      padding-top: 8%;
    }
    input.star { display: none; }
    label.star {
      float: right;
      padding: 10px;
      font-size: 36px;
      color: #444;
      transition: all .2s;
    }
    input.star:checked ~ label.star:before {
      content: '\f005';
      color: #FD4;
      transition: all .25s;
    }
    input.star-5:checked ~ label.star:before {
      color: #FE7;
      text-shadow: 0 0 20px #952;
    }
    input.star-1:checked ~ label.star:before{
      color: #F62;
    }
    label.star:hover {
      transform: rotate(-15deg) scale(1.3);
    }
    label.star:before {
      content: '\f006';
      font-family: FontAwesome;
    }
    #itemname{
      padding-left: 30%;
      padding-top: 10%;
    }
    #itemdescription{
      padding-left: 30%;
      margin-bottom: 0px;
    }
    #phonenumber{
      padding-left: 30%;
    }
    #travellingfrom{
      padding-left: 66%;
    }
    #travellingto{
      margin-left: 8%;
    }
    #departure{
      color: #FF6666;
      padding-left: 64%;
      margin-bottom: 1px;
      font-family: proximaregular;
    }
    #arrival{
      color: #FF6666;
      margin-left: 4%;
      font-family: proximaregular;
    }
    .datespan{
      margin-left: -14%;
    }
    #bighr{
      width: 68%;
      color: #cccccc;
      background-color: #cccccc;
      border: none;
      margin-right: 27%;
      height: 1px;
    }
    #descriptionn{
      padding-left: 17%;
      font-family: proximaregular;
    }
    .icancarryrow{
      border: 2px groove;
      border-color: #f5f5f5;
      width: 73%;
      margin-left: 3%;
    }

    #icancarry{
      padding-left: 0%;
      font-family: proximaregular;
    }
    #detailsdescription{
      padding-top: 3%;
    }
    .addreviewrow{
      border: 2px groove;
      border-color: #f5f5f5;
      width: 58%;
      margin-left: 3%;
      min-height: 100px;
    }
    #locationdescription{
    	border-bottom: 1px solid rgba(128, 128, 128, 0.21);
    	color: red;
    	margin-left: 17%;
    	margin-top: -5%;
    	width: 19%;
    }
    .addreviewform{
    	border: none;
    	width: 80%;
    	display: inline;
    }
    .form-control.addreviewform:focus{
      border-color: white;
      outline: none;
      box-shadow: none;
    }
    #headText{  
      color: white;
    }
    #headText2{
      color: #336699;
      font-size: 16px;
      font-family: gothamrounded;
      margin-left: -42%;
      width: 100%;
    }
    #take{
      background-color: #FF6666;
      border:none;
      border-radius: 8px;
      font-size: 20px;
      color: white; 
    }
    #text1{
      text-align: center;
    }
    .line{
      height: 200px;
      background-color: white; 
      width: 3px;
    }
    #cimage{  
    border:3px solid black;
    border-color:#EF5B5B;
    } 
    #band{
      min-height: 400px;
      padding-top: 9%; 
    }
    #tour{
      
    }
    #testimonial{
      background-color: #F6F6F6;
      height: 350px;
      box-shadow: 0px 2px 5px #888888; 
    }
    #testimonial p{
      text-align: center;
      color: #EF5B5B;
      font-size: 50px;
      padding-top: 180px;
    }
    #second{
      min-height: 300px;
      text-align: center; 
    }
    #box2{
      padding-top: 50px;
    }
    #num{
      font-size: 20px;
      color: #EF5B5B;
    }
    #third{
      min-height: 800px;
      background-color: #F6F6F6; 
    }
    #third p{
      text-align: center;
      color: #EF5B5B;
      font-size: 40px;
      padding-top: 150px;
    }
    #fourth{
      min-height: 800px;
    }
    #p1{
      color: #EF5B5B;
      font-size: 50px;
      padding-top: 8%;
      padding-left: 6%; 
    }
    #left{
      height: 420px;
      background: url(img/image1.jpg);
      
    }
    #right{
      height: 200px;
      background: url(img/image1.jpg);  
    }
    #empty{
      background-color: #F6F6F6;
      min-height: 350px;
      box-shadow: 0px 2px 5px #888888;  
    }
    #raised{
      min-height: 400px;
      padding-top: 5%;  
    }
    #charity{
      font-size: 80px;
      color: #EF5B5B;
      margin-bottom: 0px;
    }
    #charityText{
      font-size: 20px;
      margin-top: 0px;
    }
    #lm{
      font-size: 18px;
      color: #EF5B5B;
    }
    #logos{
      min-height: 500px;
      background-color: #F6F6F6;
    }
    #logos p{
      font-size: 40px;
      color: #EF5B5B;
      padding-top: 20%; 
    }
    footer{
      min-height: 500px;
      background-color: #252525;
    }
    #bottom{
      padding-top: 4%;
    }
    #bottom label{
      color: white;
      font-size: 16px;
    }
    #bottom input{
      border: 0px solid #000000;
      border-bottom-width: 2px;
      min-width: 350px;
      border-bottom-color: grey; 
      background-color: transparent;
    }
    #bottom button{
      background-color: #FF6666;
            border:2px solid;
            border-color: white;
            border-radius: 10px;
            color: white;
            padding: 8px;
            margin-left: 2%;
            width: 110px;
    }
    #countries{
      color: white;
      padding-top: 3%;
      font-size: 18px;
    }
    #address{
      padding-top: 2%;
      text-align: center;
      font-size: 16px;
      color: white;
    }
    #hiwbody{
      background-color: #F6F6F6;
    }
    /*.wholebody{
      background-color: #FFFFFF;
    }*/
    #main{
      margin-top: 8.5%;
      margin-bottom: 1.5%; 
      padding-left: 0px;
      padding-right:0px;
      margin-left: 15px !important;
      margin-right: 15px !important;
      background-color: white;
      box-shadow:  0 0 5px #888888;
    }
  /*#emailmain {
      padding: 0px;
      margin-top: 8.5%;
      margin-bottom: 1.5%; 
      padding-left: 0px;
      padding-right:0px;
      margin-left: 15px !important;
      margin-right: 15px !important;
      background-color: white;
      box-shadow:  0 0 5px #888888;
}
#mailnavbar{
  width: inherit;
  left: 50%;
  transform: translateX(-50%);  
}*/
    #main1{
      margin-top: 8.5%;
      margin-bottom: 1.5%; 
      padding-left: 0px;
      padding-right:0px;
      margin-left: 15px !important;
      margin-right: 15px !important;
      background-color: white;
      box-shadow:  0 0 5px #888888;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-image: url(img/planetaxlaws.png);
    }
    #main2{
      margin-top: 8.5%;
      margin-bottom: 1.5%; 
      padding-left: 0px;
      padding-right:0px;
      margin-left: 15px !important;
      margin-right: 15px !important;
      background-color: white;
      box-shadow:  0 0 10px #888888;
    }
    #main3{
      margin-top: 8.5%;
      margin-bottom: 1.5%; 
      padding-left: 0px;
      padding-right:0px;
      margin-left: 15px !important;
      margin-right: 15px !important;
      background-color: white;
      box-shadow:  0 0 10px #888888;
      
      background-position: 100% 100%;
      background-image: url(img/messenger_background.jpg);
  	}
    .nav-tabs{
      margin-top: 1%;
      width: 85%;
      font-family: proximaregular;
      font-size: 23px;
    }
    .spostheader{
      height:350px;
      background-size: 100%;
      width: 100%;
      background-repeat: no-repeat;
      margin-bottom: 0px;
    }
    .priceContainer{
      min-height:700px;
      top: none;
      border: 2px groove;
      margin-top: -25%;
      margin-left: -18%;
      margin-right: 14%;
      font-family: proximalight;
    }
    .pheading{
      color: #FFFFFF;
      background-color: #464646;
      min-height: 210px;
      font-family: proximalight;
    }
    #reportuser{
      margin-left: -14%;
      margin-top: 2%;
      color: #ef5b5b;
    }
    #reviews{
      padding-left: 5%;
      font-family: proximaregular;
    }
    .reviewname{
      margin-bottom: 0px;
      font-family: gothamrounded;
      font-size:24px;
    }
    .reviewbox{
      padding:0px;
    }
    .reviewimg{
      padding-right: 0px;
      padding-top: 1.5%;
    }
    /****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: right;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
    .reviewrow{
      margin-bottom: 5%;
    }
    #reviewdescription{
          margin-left: 17%;
          margin-top: 0%;
          margin-bottom: 3%;
    }
    .pfooter{
      border: none;
      background-color: #FFFFFF;
    }
    #hrid{
      width: 80%;
      color: #cccccc;
      border: solid 1.5px #cccccc;
    }
    .flagicon{
      color: #ef5b5b;
      margin-left: 73%;
    }
    .mobileicon{
      color: #ef5b5b;
      margin-left: 57%;
    }
    #mobileicon{
      color: #ef5b5b;
    }
    .mobileicon1{
      color: #ef5b5b;
      margin-top: 10%;
    }
    #filledshirt{
      color: #ef5b5b;
      margin-left: 30%;
    }
    #shirtid{
      margin-left: 1%;
      margin-bottom: 0%;
      margin-top: 17%;
    }
    .panelleftside{
    }
    .panelrightside{
      margin-top: 2%;
    }
    #clothescarry{
      margin-top: 6%;
      margin-left: 1%;
      margin-bottom: 1%;
    }
    #pricetag{
      color: #FFFFFF;
      margin-top: 0%;
      margin-left: 2%;
    }
    #electronics{
      color: #ef5b5b;
      margin-bottom: 0%;
      margin-top: inherit
    }
    .buttontravel{
      margin-top: 24%;
      border-radius: 8px;
      font-size: 20px;
      color: #FFFFFF;
      background-color: #ef5b5b;
      text-align: center;
      text-decoration: none !important;
      display: inline-block;
      padding: 14px 20px;
    }
    #taxlaws{
      color: #FF6666;
    }
    .safetyrow{
      margin-top: 22%;
    }
    .listitem{
      font-size: 17px;
    }
    #footer2{
      min-height: 60px !important;
      margin-bottom: 0%;
    }
   #footer3{
      min-height: 60px !important;
      margin-bottom: -1.05%;
      margin-left: -3.09%;
      font-family: gothamrounded;
    }
    #footertext{
      color: #FF6666;
      font-size: 13px;
      padding-left: 4px;
      padding-top: 4px;
    }
    #text-box{
      padding-top: 1%;
      padding-bottom: 1%;
      text-align: center;
      background-color: #252525;
    }
    #btn{
      border-radius: 3px;
      background-color: #FF6666;
      border:none;
      min-width: 18%;
      padding: 1%;
      margin-left: 3%;
      color: white; 
      font-size: 20px;
    }
    #formText{
      min-width: 18%;
      margin-left: -0.5%;
      padding: 1%;
      padding-left: 0.5%;
      box-shadow: 0 0 1px #888888; 
    }
    #formdate{
      margin-left: -0.5%;
      width: 12%;
      padding: 0.8%;
      box-shadow: 0 0 1px #888888;
    }
    #formprice{
      margin-left: -1%;
      width: 12%;
      padding: 0.8%;
      box-shadow: 0 0 1px #888888;
    }
    #formhead{
      color: #FF6666;
      padding-top: 40px;
      padding-left: 40px;
    }
    #formlabel{
      color: #FF6666;
      padding-left: 60px;
      padding-top: 20px;     
    }
    .if{
      margin-left: 60px;
      width: 300px; 
    }
    #from{
      margin-left: 60px;
      width: 150px;
    }
    #to{
      width: 150px;
    }
    #dash{
      color: #FF6666;
      padding-left: 5px;
      padding-right: 5px; 
    }
    #myModal .modal-dialog {
      min-width: 75%;
    }
    #myModal .modal-content {
      background: url(img/wizard.png);
      background-repeat: no-repeat;
    }
    #category{
      min-width: 20%;
      height: 40px;
      padding: 10px;
      font-style: italic;
      -webkit-appearance: none;
      -moz-appearance: none;
      -moz-box-shadow: inset 0 0 1px #000000;
      -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow: outset 0 0 1px #000000;
    }
    #weight{
      min-width: 20%;
      height: 40px;
      padding: 10px;
      margin-bottom: 5%;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px #000000;
      -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow: outset 0 0 1px #000000; 
    }
    .modal-header{
      border:none;
    }
    #title{
      min-width: 41%;
      height: 40px;
      padding: 10px;
      font-style: italic;
      box-shadow: 0 0 1px #888888; 
    }
    #description{
      min-width: 41%;
      height: 100px;
      padding: 10px;
      margin-bottom: 5%;
      resize: none;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px #000000;
      -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow: inset 0 0 1px #000000; 
    }
    #myModalLabel{
      font-size:38px;
      color: #FF6666;
      padding-bottom: 3%;
    }
    #to{
      min-width: 20%;
      height: 40px;
      padding: 10px;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px 1px #000000;
      -webkit-box-shadow: inset 0 0 1px 1px #000000;
       box-shadow: inset 0 0 1px #888888;
    }
    #from{
      min-width: 20%;
      height: 40px;
      padding: 10px;
      margin-left: 5px;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px 1px #000000;
      -webkit-box-shadow: inset 0 0 1px 1px #000000;
       box-shadow: inset 0 0 1px #888888;
    }
    #flightNumber{
      min-width: 41%;
      height: 40px;
      padding: 10px;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px 1px #000000;
      -webkit-box-shadow: inset 0 0 1px 1px #000000;
       box-shadow: inset 0 0 1px #888888; 
    }
    .fa-times-circle-o{
      border: none;
      background: none; 
    }
    #flightDes{
      min-width: 41%;
      height: 100px;
      padding: 10px;
      margin-bottom: 5%;
      resize: none;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px #000000;
      -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow: inset 0 0 1px #000000; 
    }
    /*.glyphicon-chevron-right{
      margin-left: 90%;
    }*/
    .img2{
      background: url(img/image1.jpg);
      background-size: 100% 100%;
      /*-webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);*/
    }
    /*//////////////////////FAQ//////////////////////////////*/
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
    .barsnav {
      margin-left: 0%;
      margin-top: 0%;
    }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#logoLink1{
  margin-bottom: -10%;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  #imgabout{
    border: 4px solid #ef5b5b;
  }
  .detailsofjohn{
    margin-left: -3%;
    margin-top: -2%;
  }
  /*/////////////////////////MESSENGER//////////////////////////////*/
	.convobutton{
      margin-top: 0%;
      border-radius: none;
      font-size: 10px;
      color: black;
      background-color: #FFFFFF;
      text-align: center;
      text-decoration: none !important;
      display: inline-block;
      padding: 6px 20px;
      min-width: 100%;
    }
    .convobutton:hover {
    	background-color: #e1e1e1;
	}
	.convopanelheader{
      color: #ef5b5b;
      background-color: #FFFFFF;
      min-height: 10px;
    }
    .conversations{
    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    #convoimageid{
    	margin-left: 40%;
    	margin-top: 0%;
    }
    .convoimagecol{
    	margin-left: 0%;
    	margin-top: 0%;
    }
    .convonamecol{
    	margin-left: -13%;
    	margin-top: 2%;
    }
    .rightconvobox{
    	margin-left: 4%;
    	margin-top: 8%;
    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    	border-radius: 8px;
    	background-color: white;
    }
    .lefttext{
    	color: #ef5b5b;
    }
    .righttext{
    	margin-left: 0%;
    }
    #convoname{
    	margin-left: 0%;
    	margin-top: 4%;
    }
    .accept{
      margin-top: 3%;
      margin-left: 60%;
      border-radius: 8px;
      font-size: 20px;
      color: #FFFFFF;
      background-color: #ef5b5b;
      text-align: center;
      text-decoration: none !important;
      display: inline-block;
      padding: 14px 20px;
      width: 30%;
    }
    .decline{
      margin-top: 3%;
      margin-left: -5%;
      border-radius: 8px;
      font-size: 20px;
      color: #FFFFFF;
      background-color: #ef5b5b;
      text-align: center;
      text-decoration: none !important;
      display: inline-block;
      padding: 14px 20px;
      width: 30%;
    }
    #respond{
    	margin-top: 15%;
    	margin-left: 43%;
    	color: #ef5b5b;
    }
    .pheadrow{
    	margin-left: 0%;
    	margin-top: 0%;
    }
    .pheadrow1{
    	margin-left: 0%;
    }
    a.buttontravel:link{
	color: #FFFFFF;
	text-decoration:none;
	}
	a.buttontravel:visited{
		color: #FFFFFF;
		text-decoration:none;
	}
	a.buttontravel:hover{
		background-color: #a94442;
		color: #FFFFFF;
		text-decoration:none;
	}
  /*////////////////////////////////////////////////////email////////////////////////////*/
  .second-span{
    font-family: proximaregular;
    font-size: 30px;
    color: #FFFFFF;
  }
  #secondsec{
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-image: url(img/Los-Angeles-Travel-Massive.jpg);
  }
  #bell{
  	margin-left: -400%;
  	margin-top: 51%;
  }
  .dropdown-header{
  	margin-top: 10%;
  	padding: 3px 10px;
  	font-family: proximaregular;
  	color: #FF6666;
  }
  .droprow1{
  	border: 2px groove;
    border-color: rgba(245, 245, 245, 0.31);
    background-color: #FFFFFF;
  	width: 97%;
    margin-left: 2%;
  }
  .droprow{
  	border: 2px groove;
    border-color: rgba(245, 245, 245, 0.31);
    background-color: #FFFFFF;
  	width: 97%;
    margin-left: 2%;
    margin-top: 3%;
  }
  .droprow a:hover{
  	background-color: #F6F6F6;
  }
  #dropimage{
  	margin-left: -33%;
    margin-top: -2%;
  }
  .droptext{
  	font-family: proximaregular;
  	color: #FF6666;
  	font-size: 14px;
  }
  .droptime{
  	margin-left: 100%;
    color: rgba(70, 70, 70, 0.58);
  	font-family: proximaregular;
  	font-size: 12px;
  }
  .droptextrow{
  	margin-top: 3%;		
  }
  .seeall{
  	margin-left: 43%;
  	font-family: proximaregular;
  	color: #FF6666;
  }
   .dropdown1 {
    	display: inline-block;
    	float: right;
    	position: relative;
	}
	.dropdown-content1 {
		border-radius: 15px;
		 right: 0;
    	display: none;
    	padding: 0px 5px;
    	clear: both;
    	position: absolute;
    	background-color: #ffffff;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	    white-space: nowrap;
	    list-style-type: none;
	}
    .dropdown-content1 a {
    float: none;
    color: black;
    font-family: gothamrounded;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-bottom: 0%;
}
.drophref{
	height: 79px;
}

.dropdown-content1 a:hover {
    background-color: rgba(221, 221, 221, 0.23);;
}

    @media(min-width:0px) and (max-width: 991px)
    {
      .collapsing, .in {
        background-color: #FFFFFF;
      }
      .collapsing ul li a, .in ul li a {
        color: #555!important;
      }
      .collapsing ul li a:hover, .in ul li a:hover {
        color: #f1f1f1!important;
      }
      .line{
        visibility: hidden;
      }
      .img-header{
        margin-left: 2% !important; 
        margin-top: -3% !important;
      }
      .img-header1{
        margin-left: 0% !important;
        margin-top: -12% !important;
        width: 44% !important;
        height: 134%;
      }
      .img1{
        padding-bottom: 10%;
        padding-top: 10%; 
      }
      .mapframe{
        width: 100%;
        margin-top: 10%;
      }
      .imagemobid{
        margin-right: 32%;
        margin-top: -20%;
      }
      .itemname{
        margin-top: -3%;
        margin-left: 7%;
      }
      .itemdescription{
        margin-left: 1%;
        margin-top: -2%;
      }
      .phonenumber{
        margin-left: 9%;
      }
      .stars{
        margin-left: -35%;
        margin-top: -9%;
        width: 107%;
      }
      .travellingfrom{
        margin-left: -31%;
        margin-top: 0%;
      }
      .travellingto{
        margin-left: 37% !important;
        margin-top: 10%;
      }
      .departure{
        margin-left: -33%;
        margin-top: 0%;
      }
      .arrival{
        margin-left: 30% !important;
        margin-top: 0%;
      }
      .description{
        margin-left: 16%;
        margin-top: 7%; 
      }
      .detailsdescription{
        margin-left: 7%;
        margin-top: 0%; 
      }
      .icancarry{
        margin-left: 16%;
        margin-top: 10%; 
      }
      .shirtid{
        margin-left: 0%;
        margin-top: -14%;
      }
      .clothescarry{
        margin-left: 0%;
        margin-top: 0%;
      }
      .reviews{
        margin-left: 31%;
        margin-top: 6%;
      }
      .reviewname{
        margin-left: 35%;
        margin-top: 2%;
      }
      .rating{
        margin-left: 35%;
        margin-top: 0%;
      }
      .pheading{
        margin-left: 0%;
        margin-top: 0%;
      }
      .mobileicon{
        margin-left: 31%;
        margin-top: 0%;  
      }
      .shirtpic{
        margin-left: -5%;
        margin-top: 0%;
      }
      .clothesclass{
        margin-left: 56%;
        margin-top: -18% !important;
      }
      .electronics{
        margin-left: 56%;
        margin-top: -20% !important;
      }
      .pricetag1{
        margin-left: 57% !important;
        margin-top: 0%;
      }
      .pricetag2{
        margin-left: 56% !important;
        margin-top: -16%;
      }
      .buttontravel{
        margin-left: 0%;
        margin-top: 4%;
      }
      .safetyline{
        margin-left: 24%;
        margin-top: 0%;
      }
      .listitem{
        margin-left: 17%;
        margin-top: 0%;
      }
      .reportuser{
        margin-left: 41% !important; 
        margin-top: -9% !important;
      }
      .flagicon{
        margin-left: 30%;
        margin-top: 0%;
      }
      [class*="col-"] {
        width: 100%;
      }
      /*//////////////////////// TAX LAWS/////////////////////*/
      .main1{ 
        margin-top: 30% !important;
      }
      .img-header{
        width: 25% !important;
        height: 129%;
        margin-left: 6% !important;
        margin-top: -10% !important;
      }
      .navbar2{
        height: 13%
      }
      /*///////////////FAQQQQQQQQQQQQQQ////////////////////////////////*/
      .howitworks{
        width: 90%;
      }
      .footer3{
        margin-bottom: -4.5% !important;
        margin-left: -13% !important;
      }
      .img-header2{
        width: 25% !important;
        height: 129%;
        margin-left: 6% !important;
        margin-top: -10% !important;
      }
      .detailsofjohn{
        margin-left: 1%;
      }
      .datespan{
        margin-left: 2%;
        font-size: 22px !important;
      }
      .bighr{
        margin-left: 16%;
      }
      .icancarryrow{
        margin-left: 11%;
      }
      .addreviewrow{
        margin-left: 2%;
        width: 96%;
      }
      .locationdescription{
        margin-left: 18% !important;
        width: 63% !important;
      }
      .navbar{
        height: 11% !important;
      }
    }