/*.carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
    }
    .left{
      background: none !important;
    }
    .right{
      background: none !important;
    }*/
    #myCarousel .item{
  /*padding-bottom for responsive height*/
    padding-bottom: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    }
    #myCarousel .first-item{
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(img/image5.jpg);
    }
    #myCarousel .second-item{
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(img/image1.jpg);
    }
    #myCarousel .third-item{
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(img/image5.jpg);
    }
    #myCarousel .carousel-heading{font-size: 40px;}
   
    .btn{
      border:none;
      color: #FF6666;
      font-size: 24px;
      font-style: bold;
      background: none;
      padding-top: 2%;
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 2%;
      vertical-align: text-top;
    }
    .uplp{
      padding-top: 12%;
    }
    .btn:hover{
        background: none;
        color: #FF6666;
      }
    .allpostnav{
      padding-top: 1%;
      min-width: 100%;
      font-size: 18px;
    }
    .nav-tabs>li.active{
      background: none ;
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom-color: #FF6666; 
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
      background: none ;
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom-color: #FF6666; 
    }
    .nav-tabs>li.active>a:hover{
      background: none;
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom-color: #FF6666; 
      border-style: bold;
    }
    .allpostnav li{
      margin-left: 2%;
    }
    .allpostnav li a{
      color: #888888;
    }
    .headerImage{
      min-height: 500px;
      width: 100%;
    }
    #navbar{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      color: white;
      border: none;  
    }
    .map{
      background-image: url(img/54.png);
      min-height: 210px;
      min-width:220px; 
    }
    .mapdiv{
      margin-left: 2%;
    }
    #navbar2{
      background-color: white ;
      box-shadow: 0px 2px 5px #888888;
      padding-bottom: 2.5%;
      padding-top: 1%; 
    }
    #upnavbar2{
      background-color: white ;
      box-shadow: 0px 2px 5px #888888;
      padding-bottom: 0px;
      padding-top: 1%;
    }
    #cbody{
      background: #F6F6F6;
    }
    .img-header{
      width: 200px;
      height: 50px;
    }
    .img1{
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/image5.jpg);
      background-size: 100% 100%;
      min-height: 320px;
      width: 100%;
    }
    .navbar-brand{
      padding: 4px 15px;
    }
    .navbar-nav li a{
      padding-top: 0px;
    }
    .carousel-inner{
      max-height: 500px;
    }
    #logo{
      width: 120px;
      padding-left: 10%;
    }
    #logo2{
      width: 12%;
    }
    #mynavbar{
      padding-right: 2%;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    #headText{  
      color: white;
    }
    #headText2{
      color: #336699;
      font-size: 16px;
    }
    #take{
      background-color: #FF6666;
      border:none;
      border-radius: 8px;
      font-size: 20px;
      color: white; 
      padding-left: 8%;
      padding-right: 8%;
      padding-top: 3%;
      padding-bottom: 3%; 
    }
    #text1{
      text-align: center;
    }
    .line{
      height: 200px;
      background-color: white; 
      width: 3px;
    }
    #cimage{  
    border:3px solid black;
    border-color:#EF5B5B;
    }
    #band{
      min-height: 400px;
      padding-top: 9%; 
    }
    #tour{
      
    }
    #testimonial{
      background-color: #F6F6F6;
      height: 350px;
      box-shadow: 0px 2px 5px #888888; 
    }
    #testimonial p{
      text-align: center;
      color: #EF5B5B;
      font-size: 50px;
      padding-top: 180px;
    }
    #second{
      min-height: 300px;
      text-align: center; 
    }
    #box2{
      padding-top: 50px;
    }
    #num{
      font-size: 20px;
      color: #EF5B5B;
    }
    #third{
      min-height: 900px;
      background-color: #F6F6F6;
      background-image: url(img/lpbackground.png);
      background-repeat: no-repeat;
      background-position: 75% 70%; 
    }
    #ut{
      text-align: center;
      color: #EF5B5B;
      font-size: 40px;
      padding-top: 150px;
    }
    #fourth{
      min-height: 800px;
    }
    #p1{
      color: #EF5B5B;
      font-size: 50px;
      padding-top: 8%;
      padding-left: 6%; 
    }
    #left{
      height: 420px;
      background: url(img/image1.jpg);
      
    }
    #right{
      height: 200px;
      background: url(img/image1.jpg);  
    }
    #empty{
      background-color: #F6F6F6;
      min-height: 350px;
      box-shadow: 0px 0px 10px #888888; 
      background-image: url(img/qoutationmarks.png);
      background-repeat: no-repeat;
      background-position: 100% -37%; 
    }
    #raised{
      min-height: 400px;
      padding-top: 5%;   
    }
    #charity{
      font-size: 80px;
      color: #EF5B5B;
      margin-bottom: 0px;
    }
    #charityText{
      font-size: 20px;
      margin-top: 0px;
    }
    #lm{
      font-size: 18px;
      color: #EF5B5B;
    }
    #logos{
      min-height: 500px;
      background-color: #F6F6F6;
      box-shadow: 0px 0px 10px #888888;
    }
    #logos p{
      font-size: 40px;
      color: #EF5B5B;
      padding-top: 20%; 
    }
    footer{
      min-height: 500px;
      background-color: #252525;
    }
    #bottom{
      padding-top: 4%;
    }
    #bottom label{
      color: white;
      font-size: 16px;
    }
    #bottom input{
      border: 0px solid #000000;
      border-bottom-width: 2px;
      min-width: 30%;
      border-bottom-color: grey; 
      background-color: transparent;
    }
    #bottom button{
      background-color: #FF6666;
            border:2px solid;
            border-color: white;
            border-radius: 10px;
            color: white;
            padding: 8px;
            margin-left: 2%;
            width: 110px;
    }
    #countries{
      color: white;
      padding-top: 3%;
      font-size: 18px;
    }
    #address{
      padding-top: 2%;
      text-align: center;
      font-size: 16px;
      color: white;
    }
    #hiwbody{
      background-color: #F6F6F6; 
    }
    #main{
      margin-top: 7.5%;
      margin-bottom: 1.5%; 
      padding-left: 0px;
      padding-right:0px;
      margin-left: 15px !important;
      margin-right: 15px !important;
      background-color: white;
      box-shadow:  0 0 10px #888888;
    }
    .spostnav{
      margin-top: 1%;
      width: 85%;
    }
    .spostheader{
      background: url(img/image1.jpg);
      min-height:350px;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-bottom: 0px;
    }
    .priceContainer{
      background: url(img/image1.jpg);
      min-height:700px; 
      top: none;  
    }
    #footer2{
      min-height: 50px !important;
    }
    #footertext{
      color: #FF6666;
      font-size: 13px;
      padding-left: 4px;
    }
    #text-box{
      padding-top: 1%;
      padding-bottom: 1%;
      text-align: center;
      background-color: #252525;
    }
    #btn{
      border-radius: 3px;
      background-color: #FF6666;
      border:none;
      min-width: 13%;
      padding: 1%;
      margin-left: 3%;
      color: white; 
      font-size: 17px;
    }
    #formText{
      min-width: 15%;
      margin-left: -0.5%;
      padding: 1%;
      padding-left: 0.5%;
      box-shadow: 0 0 1px #888888; 
    }
    #formdate{
      margin-left: -0.5%;
      width: 12%;
      padding: 0.8%;
      box-shadow: 0 0 1px #888888;
    }
    #formprice{
      margin-left: -1%;
      width: 12%;
      padding: 0.8%;
      box-shadow: 0 0 1px #888888;
    }
    #formhead{
      color: #FF6666;
      padding-top: 40px;
      padding-left: 40px;
    }
    #formlabel{
      color: #FF6666;
      padding-left: 60px;
      padding-top: 20px;     
    }
    .if{
      margin-left: 60px;
      width: 300px; 
    }
    #from{
      margin-left: 60px;
      width: 150px;
    }
    #to{
      width: 150px;
    }
    #dash{
      color: #FF6666;
      padding-left: 5px;
      padding-right: 5px; 
    }
    #myModal .modal-dialog {
      min-width: 75%;
      background-color: #F6F6F6;
      border-radius: 1%;
    }
    #myModal .modal-content {
      background-color: #F6F6F6;
      /*background: url(img/Dots2.png);
      background-repeat: no-repeat;
      background-position: 0% 70%;*/ 
    }
    #category{
      min-width: 20%;
      height: 40px;
      padding: 10px;
      font-style: italic;
      -webkit-appearance: none;
      -moz-appearance: none;
      -moz-box-shadow: inset 0 0 1px #000000;
      -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow: outset 0 0 1px #000000;
    }
    #weight{
      min-width: 20%;
      height: 40px;
      padding: 10px;
      margin-bottom: 5%;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px #000000;
      -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow: outset 0 0 1px #000000; 
    }
    .modal-header{
      border:none;
    }
    #title{
      min-width: 41%;
      height: 40px;
      padding: 10px;
      font-style: italic;
      box-shadow: 0 0 1px #888888; 
    }
    #description{
      min-width: 41%;
      height: 150px;
      padding: 10px;
      margin-bottom: 5%;
      resize: none;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px #000000;
      -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow: inset 0 0 1px #000000; 
    }
    #myModalLabel{
      font-size:38px;
      color: #FF6666;
      padding-bottom: 3%;
    }
    #to{
      min-width: 20%;
      height: 40px;
      padding: 10px;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px 1px #000000;
      -webkit-box-shadow: inset 0 0 1px 1px #000000;
       box-shadow: inset 0 0 1px #888888;
    }
    #from{
      min-width: 20%;
      height: 40px;
      padding: 10px;
      margin-left: 5px;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px 1px #000000;
      -webkit-box-shadow: inset 0 0 1px 1px #000000;
       box-shadow: inset 0 0 1px #888888;
    }
    #flightNumber{
      min-width: 41%;
      height: 40px;
      padding: 10px;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px 1px #000000;
      -webkit-box-shadow: inset 0 0 1px 1px #000000;
       box-shadow: inset 0 0 1px #888888; 
    }
    .fa-times-circle-o{
      border: none;
      background: none; 
    }
    #flightDes{
      min-width: 41%;
      height: 100px;
      padding: 10px;
      margin-bottom: 5%;
      resize: none;
      font-style: italic;
      -moz-box-shadow: inset 0 0 1px #000000;
      -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow: inset 0 0 1px #000000; 
    }
    /*.glyphicon-chevron-right{
      margin-left: 90%;
    }*/
    .img2{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/image1.jpg);
      background-size: 100% 100%;
      /*-webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);*/
    }
    .pd1{
      max-height:50%;
    }
    .pd1 h1{
      color: white;padding-top: 5%;padding-bottom:0px; padding-left: 5%;padding-right: 5%;
    }
    .pd2{
      min-height:50%;
      padding-left: 0px; 
    }
    .pd2 h1{
      color: white;padding-top: 1%;padding-left: 5%;padding-right: 5%;
    }
    #p3{
      font-size: 20px; color: white;padding-top: 1%;padding-bottom: 5%; padding-left: 5%;padding-right: 5%;
    }
    #p4{
      font-size: 20px; color: white;padding-top: 1%;padding-bottom: 5%; padding-left: 5%;padding-right: 5%;
    }
    #p2{
      font-size: 20px; color: white;padding-top: 5%;padding-bottom: 5%; padding-left: 5%;padding-right: 5%;
      width: 90%;
    }
    .pd3{
      min-height:50%;margin-bottom: 0px;
      padding-top: 2%;
    }
    .pd3 h1{
      color: white;padding-top: 1%;padding-left: 5%;padding-right: 5%;
    }
    .allpostpanel{
      padding-left: 5%;
      padding-right: 5%; 
    }
    #allposttext{
      color: #FF6666;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    #allpostbody{
      background:#F6F6F6;
    }
    .rightpanel{
      border: none;
      padding:0px;
    }
    .panelfooter{
      background:#252525; 
    }
    .panelbody{
      padding:0px; 
    }
    .panelfootertext{
      font-size: 22px;
      color: white;
    }
    .allpostpanelcontent{
      margin-top: 5%;
      margin-bottom: 3.5%;
    }
    fieldset, label { margin: 0; padding: 0; }
   
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

#upbody{
  background-color: #F6F6F6; 
}
#upmain{
  border:none;
  padding-top: 7.5%; 
}
.uppanelfooter{
  background: none;
  border-top: none; 
}
.uplpanelfooter{
  background: none;
  color:#FF6666;
  border-top: none;
  padding-top: 0px;
}
.emailbox{
  margin-top:10%;
  margin-bottom: 10%; 
}
.not{
  margin-top: 7%;
  margin-bottom:0px; 
}
.tnumber{
  margin-top: 0px;
  margin-bottom: 12%;
  color:#FF6666; 
}
.footerline{
  width:90%;
  height: 2px;
  background-color: #D0D0D0;
}
.abouttag{
  color: #FF6666;
  margin-bottom: 0px;
  margin-left: 3%;
}
.bodyline1{
  width:95%;
  height: 2px;
  background-color: #ADADAD;
}
.body1{
  margin-left: 3%;
  margin-bottom: 5%;
  margin-top: 2%;
  width: 90%;
}
.triptag{
  color:#FF6666;
  margin-left: 3%; 
}
.tripnumber{
  color:#FF6666;
  margin-right: 3%; 
}
.panelbody1{
  width:95%; 
}
.bodyline2{
  margin-bottom: 0px;
  width: 95%;
  background-color:#D0D0D0;
  height: 2px;
}
.reviewtag{
  color: #FF6666;
  margin-bottom: 0px;
  margin-left: 3%;
}
.reviewname{
  margin-bottom: 0px;
}
.reviewbox{
  padding:0px;
}
.reviewimg{
  padding-right: 0px;
  padding-top: 1.5%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#sidebarmain {
    transition: margin-left .5s;
    padding: 16px;
}
body{
  transition:background-color .5s; 
}
.cpbox{
  padding-top: 8%;
    padding-bottom: 7%;
}
.cplbox{
  padding-left: 4%;
}
.cprbox{
  padding-left: 0px;
  border-left: solid #D0D0D0;  
}
.cprboxtext{
  color:#FF6666;padding-left: 34%;
  padding-bottom: 5%;
}
.cpaddress{
  font-size: 16px;
  padding-left: 9%;
  padding-top: 18%;
}
.pno{
  font-size: 16px;
  padding-left: 9%;
  padding-top: 2%;
  padding-bottom: 5%;
}
.cptext1{
  color: #FF6666;
  font-size: 20px;
  padding-top: 4%;
  padding-bottom: 3%;
}
.cptext2{
  color: #FF6666;
  font-size: 24px;
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: center;
}
.cpemail{
  width: 36%;
  margin-bottom: 2.75%;
  padding: .5%;
  padding-left: 1.5%;
  font-size: 16px;
}
.cpsubject{
  width: 36%;
  margin-bottom: 2.75%;
  padding: .5%;
  padding-left: 1.5%;
  font-size: 16px;
}
.cpmsg{
  width: 36%;
  margin-bottom: 2.75%;
  padding: .5%;
  padding-left: 1.5%;
  font-size: 16px;
  resize: none;
  height: 150px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media(min-width:0px) and (max-width: 991px)
    { 
      .line{
        visibility: hidden;
        height: 10px;
      }
      .img1{
        padding-bottom: 10%;
        padding-top: 10%; 
      }
      .text1{
        padding-top: 15%;
      }
      .font1{
        font-size: 18px !important;
      }
      .btn{
        font-size: 14px !important;
      }
      .btn:hover{
        background: none;
        color: #FF6666;
      }
      .headText{
        background-color: black;
        width: 100%;
      }
      .mynavbar{
        padding-right: 0px;
      }
      .carousel-inner{
        height: 400px !important;
      }
      .first-item{
        height: 400px !important;
      }
      .second-item{
        height: 400px !important;
      }
      .third-item{
        height: 400px !important;
      }
      .user{
        text-align: center;
      }
      .apmap{
        width: 100%;
      }
      .aptext{
        text-align: center;
      }
      .reviewname{
        text-align: center;
      }
      .fa-bars{
        padding-left: 2%;
      }
      .logo2{
        width: 25% !important;
        padding-left: 2% !important;
        margin-top: -16% !important;
      }
      .modal-dialog{
        border-radius: 3%;
      }
      .modal-header{
        display: none;
      }
      .navbar{
        height: 62px;
      }
      .main{
        margin-top: 20.5% !important;
      }
      .cplbox{
        text-align: center;
      }
      .cprbox{
        text-align: center;
        border:none;
      }
      .cprboxtext{
        padding-left: 0px; 
      }
      .cpaddress{
        padding-left: 0px;
      }
      .pno{
        padding-left: 0px;
      }
      .uplp{
        margin-top: 13%;
      }
    }